<a href="https://colab.research.google.com/github/githubtaniya924/Data-Analysis-Internship/blob/main/OneSample_HypothesisTest_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Generate synthetic data

In [ ]:
import random
data1=[]
for i in range(100):
  a=random.randint(1,100)
  data1.append(a)

data2=[]
for i in range(100):
  a=round(random.uniform(1,100))
  data2.append(a)
print("dataset 1: ",data1)
print("dataset 2: ",data2)

dataset 1:  [57, 54, 63, 63, 88, 47, 16, 52, 13, 82, 36, 80, 15, 97, 34, 72, 29, 49, 97, 16, 76, 3, 89, 75, 15, 63, 18, 97, 28, 77, 97, 69, 54, 77, 74, 95, 4, 98, 83, 32, 65, 23, 20, 97, 54, 82, 59, 51, 51, 12, 6, 10, 24, 65, 19, 7, 23, 49, 7, 79, 38, 83, 7, 83, 25, 24, 81, 94, 99, 29, 74, 9, 65, 31, 94, 76, 77, 53, 61, 42, 23, 48, 26, 39, 69, 61, 17, 11, 93, 92, 73, 7, 68, 12, 56, 89, 33, 7, 48, 9]
dataset 2:  [58, 51, 77, 51, 50, 27, 30, 60, 72, 51, 29, 12, 47, 37, 85, 55, 65, 25, 69, 82, 64, 22, 81, 69, 66, 6, 97, 79, 54, 69, 86, 13, 8, 97, 99, 20, 27, 6, 44, 41, 15, 77, 4, 56, 73, 7, 12, 3, 76, 94, 8, 21, 65, 69, 66, 20, 87, 33, 89, 17, 73, 88, 92, 38, 68, 81, 77, 85, 14, 70, 48, 61, 62, 31, 42, 63, 43, 7, 28, 70, 80, 8, 53, 11, 15, 30, 48, 79, 90, 11, 77, 10, 19, 69, 80, 36, 17, 92, 10, 64]

## 2.Calculate Descriptive Statistics:

In [ ]:
#mean
def meanVal(data1):
    mean=sum(data1)/len(data1)
    return mean

#median
def medianVal(data1):
    data1.sort()
    data1_len=len(data1)
    if data1_len%2==0:
        median=(data1[data1_len//2-1]+data1[data1_len//2])/2
    else:
        median=data1[data1_len//2]
    return median

#mode
def modeVal(data1):
    max=0
    mode=0
    for i in data1:
      c=0
      for j in data1:
        if i == j:
            c=c+1
      if c>max:
        max=c
        mode=i
    return mode
print(meanVal(data1))
print(medianVal(data1))
print(modeVal(data1))
print("--------------------")

#using statistics library
import statistics
print(statistics.mean(data1))
print(statistics.median(data1))
print(statistics.mode(data1))

52.67
53.5
15
--------------------
52.67
53.5
15

## 3.Hypothesis Testing:

In [ ]:
#Formulate null and alternative hypotheses to test if the mean of the dataset is significantly different from a hypothetical mean.
#hypothetical mean = 30
m=30
from scipy.stats import ttest_1samp
ttest_1samp(a=data1,popmean=30)

# pvalue = 2.26e-10
# here pvalue < 0.05, therefore null hypothesis can be safely rejected

#effect size using cohen d
mean=statistics.mean(data1)
sd=statistics.stdev(data1)

temp= (mean-m)/sd
cohen_d = temp*2**0.5
print("cohen_d: ",cohen_d)

if cohen_d < 0.2:
    print("neglibile effect size")
elif cohen_d < 0.5:
    print("small effect size")
elif cohen_d < 0.8:
    print("medium effect size")
else:
    print("large effect size")

cohen_d:  0.9992334344721977
large effect size

## 4.Binomial Test:

In [ ]:
#Perform a binomial test to check if the proportion of even numbers in the first dataset is significantly different from 0.5.
#find no. of even numbers
c=0
for i in data1:
  if i%2==0:
    c=c+1
print("no. of even numbers:",c)

from scipy.stats import binomtest
binomtest(k=c,n=100,p=0.5)

no. of even numbers: 39

BinomTestResult(k=39, n=100, alternative='two-sided', statistic=0.39, pvalue=0.03520020021770479)

In [ ]:
#Print the p-value and interpret the result.
'''
pvalue = 0.03
here pvalue < 0.05, therefore null hypothesis can be safely rejected
The result is significant
'''

## 5.T-Test:

In [ ]:
#Perform a t-test to compare the mean of the first dataset is significantly different from hypothetical mean=45.
#H0 -> mean value is not different from hypothetical mean(45)
#Ha => mean is different from hypotheical mean(45)

#using student-t test
from scipy.stats import ttest_1samp
ttest_1samp(a=data1,popmean=45)

TtestResult(statistic=2.038473899094898, pvalue=0.04416877222802731, df=99)

In [ ]:
#Print the t-statistic and p-value, and interpret the result.
statistic = 2.038473899094898
pvalue = 0.04416877222802731

#here the pvalue < 0.05
#Therefore the null hypothesis is rejected
#The result is significantly different from hypothetical mean

# 6.Wilcoxon Test:

In [ ]:
#Perform a Wilcoxon rank-sum test to compare the median of the first dataset is different from hypothetical median =.58
import pandas as pd
gss_data1=pd.read_csv('GSS2012a.csv')

ordinal_data=gss_data1['accntsci']
ordinal_data.value_counts().index

#replacing non-numeric vaules with numberic vaule according to the logical order
ordinal_data = ordinal_data.replace({'Not too scientific' :0,
                                     'Not scientific at all' :1,
                                     'Pretty scientific' :2,
                                     'Very scientific' :3
                                   })

In [ ]:
from scipy.stats import wilcoxon
ordinal_data=ordinal_data.dropna()#drop the null vaule
m=3.1
#wilcoxon signed-rank test
wilcoxon(x=ordinal_data-3.1,zero_method="wilcox")

WilcoxonResult(statistic=0.0, pvalue=2.297689656896499e-161)

In [ ]:
#Print the test statistic and p-value, and interpret the result.
statistic=0.0
pvalue=2.297689656896499e-161
#here pvalue < 0.05
#Therefore null hypothesis can be rejected
#the median of the dataset is different from the hypothetical value

## 7.Pearson Goodness of Fit Test:

In [ ]:
#Perform a Pearson goodness of fit test to check if the distribution of numbers in the first dataset fits a uniform distribution.
import pandas as pd
gss_data=pd.read_csv('GSS2012a.csv')

scalevar=gss_data['age'].dropna()
scalevar=scalevar.replace({'89 OR OLDER':90})
scalevar=pd.to_numeric(scalevar)

In [ ]:
'''
RQ - The average age is 54

H0 -> The average age is not different it is same as 54
Ha -> The average age is different

To find whether h0 is rejected or not we need to do one sample student_t test

if pvalue < 0.05
null hypothesis is rejected
else: null hypothesis is not rejected

'''

In [ ]:
from scipy.stats import ttest_1samp
ttest_1samp(a=scalevar,popmean=54)

TtestResult(statistic=-14.533614104946164, pvalue=1.551989319843224e-45, df=1968)

In [ ]:
#Print the test statistic and p-value, and interpret the result.
statistic=-14.533614104946164
pvalue=1.551989319843224e-45
'''
Here the null hypothesis is rejected since pvalue < 0.05

The average age is different from 54.

now we can find the effect size using cohen d

'''

## 8.Explain and provide an example of Type-1 and Type-2 errors in the context of the t-test performed.

In [ ]:
#type-1 error
'''
Type-1 error occurs when pvalue < 0.05

In type-1 error the null hypothesis is rejected when it is true

Here, the result is significant. i.e there is significant difference between the hypothetical value and
the value of the dataset.

Example:
RQ - The mean is 40
H0 -> The mean is not different it is same as 40
Ha -> The mean is different from the hypothetical value 40

Here the student-t test is used since it is a scale variable

if pvalue < 0.05
null hypothesis is rejected
else: null hypothesis is not rejected

'''

In [ ]:
#type-2 error
'''
Type-2 error occurs when pvalue > 0.05

In type-2 error the null hypothesis is not rejected when it is false

Here, the result is not significant. i.e there is no significant difference between the hypothetical value and
the value of the dataset.

Example:
RQ - The mean is 40
H0 -> The mean is not different it is same as 40
Ha -> The mean is different from the hypothetical value 40

Here the student-t test is used since it is a scale variable

if pvalue > 0.05
null hypothesis is not rejected
else: null hypothesis is rejected

'''